.title {
    color: rgb(182, 215, 255);
    margin-left: 3%;
    margin-top: 40px;
    padding: 0% !important;
    margin-bottom: 0% !important;
}

.mainPage {
    align-items: center;
    background-color: #18191a;
    margin: 2%;
}

.dashboardWrapper {
    margin: 0%;
    background-color: #18191a;
    width: 100%;
    margin-top: 1%;
    display: flex;
}